/app.py
/controle_achat.py
/Copy of Export achats MYBACKOFFICE.xlsx
/Export achats MYBACKOFFICE.xlsx
/Export comptable MYBACKOFFICE.xlsx
/Export comptable vente  MYBACKOFFICE(1).xlsx
/Export encaissement MYBACKOFFICE.xlsx
/python
/traitement.ipynb
/traitement_vente.ipynb
/__pycache__
/~$Export achats MYBACKOFFICE.xlsx
/~$Export encaissement MYBACKOFFICE.xlsx